Seminar.css


body {
  font-family: "Poppins", sans-serif;
  background: #f3f6fa;
  margin: 0;
  padding: 40px;
  position: relative;
  left: 100px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.wrapper {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-box,
.table-box {
  background: #fff;
  border-radius: 12px;
  padding: 25px 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
}

label {
  font-weight: 600;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

button {
  grid-column: span 2;
  background: lightskyblue;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: lightskyblue;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
}

th {
  background: lightskyblue;
  color: white;
}

tr:nth-child(even) {
  background: #f9f9f9;
}

.btns {
  text-align: center;
  margin-top: 15px;
}

.btns a {
  display: inline-block;
  background: lightskyblue;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  text-decoration: none;
  margin: 5px;
}

.btns a:hover {
  background: blue;
}